<a href="https://colab.research.google.com/github/dhruvpathak1/machine_learning/blob/main/ML_Lab1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df = pd.read_csv("https://raw.githubusercontent.com/dhruvpathak1/ml_dataset/main/online_shoppers_intention.csv")

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2938 entries, 0 to 2937
Data columns (total 18 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   Administrative           2938 non-null   int64
 1   Administrative_Duration  2898 non-null   float64
 2   Informational            2866 non-null   float64
 3   Informational_Duration   2866 non-null   float64
 4   ProductRelated           2856 non-null   float64
 5   ProductRelated_Duration  2856 non-null   float64
 6   BounceRates              2856 non-null   float64
 7   ExitRates                2856 non-null   float64
 8   PageValues               2856 non-null   float64
 9   SpecialDay               2938 non-null   float64
 10  Month                    2938 non-null   object
 11  OperatingSystems         2918 non-null   float64
 12  Browser                  2918 non-null   float64
 13  Region                   2938 non-null   int64
 14  TrafficType              2938 non-null   int64
 15  VisitorType              2938 non-null   object
 16  Weekend                  2938 non-null   bool
 17  Revenue                  2938 non-null   bool
dtypes: bool(2), float64(11), int64(3), object(2)
memory usage: 373.1+ KB

In [ ]:
df.size

52884

In [ ]:
df.shape

(2938, 18)

In [ ]:
df.dtypes

Administrative               int64
Administrative_Duration    float64
Informational              float64
Informational_Duration     float64
ProductRelated             float64
ProductRelated_Duration    float64
BounceRates                float64
ExitRates                  float64
PageValues                 float64
SpecialDay                 float64
Month                       object
OperatingSystems           float64
Browser                    float64
Region                       int64
TrafficType                  int64
VisitorType                 object
Weekend                       bool
Revenue                       bool
dtype: object

In [ ]:
df.isnull().sum()

Administrative              0
Administrative_Duration    40
Informational              72
Informational_Duration     72
ProductRelated             82
ProductRelated_Duration    82
BounceRates                82
ExitRates                  82
PageValues                 82
SpecialDay                  0
Month                       0
OperatingSystems           20
Browser                    20
Region                      0
TrafficType                 0
VisitorType                 0
Weekend                     0
Revenue                     0
dtype: int64

In [ ]:

df["Weekend"].fillna(df["Weekend"].mode()[0], inplace = True)
df["Revenue"].fillna(df["Revenue"].mode()[0], inplace = True)
df["ExitRates"].fillna(df["ExitRates"].mode()[0], inplace = True)

In [ ]:
df.isnull().sum()

Administrative              0
Administrative_Duration    40
Informational              72
Informational_Duration     72
ProductRelated             82
ProductRelated_Duration    82
BounceRates                82
ExitRates                   0
PageValues                 82
SpecialDay                  0
Month                       0
OperatingSystems           20
Browser                    20
Region                      0
TrafficType                 0
VisitorType                 0
Weekend                     0
Revenue                     0
dtype: int64

In [ ]:
df.head(10)

   Administrative  Administrative_Duration  ...  Weekend  Revenue
0               0                      0.0  ...    False    False
1               0                      0.0  ...    False    False
2               0                      0.0  ...    False    False
3               0                      0.0  ...    False    False
4               0                      0.0  ...     True    False
5               0                      0.0  ...    False    False
6               0                      0.0  ...    False    False
7               1                      0.0  ...     True    False
8               0                      0.0  ...    False    False
9               0                      0.0  ...    False    False

[10 rows x 18 columns]

In [ ]:
df.tail()

      Administrative  Administrative_Duration  ...  Weekend  Revenue
2933               4               164.000000  ...    False    False
2934               4                35.666667  ...     True    False
2935               1                 8.000000  ...    False    False
2936               0                 0.000000  ...    False    False
2937               0                 0.000000  ...    False    False

[5 rows x 18 columns]